<main class="main-content">

<section class="section py-7" style="background-color: #CF0A4E">
<div class="container">
<div class="row gap-y align-items-center">
<div class="col-md-9">
<h4 class="mb-0 text-white text-center text-md-left">Хотите обновить свою карту ? Обратитесь к банкам партнерам!</h4>
</div>

<div class="col-md-3 text-center text-md-right">
<a class="btn btn-lg btn-round btn-light" href="/banks-partners">Выбрать банк</a>
</div>
</div>
</div>
</section>

<section id="section-features" class="section bg-gray">
<div class="container">
<header class="section-header">
<small>{{ language.362 }}</small>
<h2>У обычной Platinum Card нет преимуществ перед картами других банков</h2>
<hr>
<p class="lead">
У обычной Platinum Card нет значимой ценности для тех кто не летает за границу. Самой большой ценностью Platinum Card является Fast Line и бизнес-зал в зоне международных рейсов в аэропортах.
</p>
</header>

<div class="row gap-y align-items-center">
<div class="col-md-6 ml-auto">
<h4>PLLANO дает преимущества которые выделят вас среди других людей</h4>
<p>
Вы будете покупать товары без наценки. Вы будете иметь эксклюзивную 20% скидку в лучших заведениях. Каждый раз вынимая карту из кошелька, Вы будете ловить на себе взгляды окружающих и ощущать ее значимость и превосходство. По мере нашего масштабирования в другие страны мы будем расширять зону действия карты на все страны нашего присутствия, что дает постоянный рост возможностей для вас. Уже сейчас мы ведем переговоры с огромным количеством отелей, ресторанов и других заведений по всему миру.
</p>
</div>
<div class="col-md-5 order-md-first">
<img class="rounded" src="/img/pllano-online-shopping.svg" alt="...">
</div>
</div>

<hr class="my-8">

<div class="row gap-y align-items-center">
<div class="col-md-6 mr-auto">
<h4>PLLANO Club</h4>
<p>
Вы будете иметь эксклюзивную 20% скидку в лучших заведениях. Каждый раз вынимая карту из кошелька, Вы будете ловить на себе взгляды окружающих и ощущать ее значимость и превосходство. По мере нашего масштабирования в другие страны мы будем расширять зону действия карты на все страны нашего присутствия, что дает постоянный рост возможностей для вас. Уже сейчас мы ведем переговоры с огромным количеством отелей, ресторанов и других заведений по всему миру.
</p>
</div>

<div class="col-md-5">
<img class="rounded" src="/img/pllano-family-shopping.svg" alt="...">
</div>
</div>

<hr class="my-8">

<div class="row gap-y align-items-center">
<div class="col-md-6 ml-auto">
<h4>PLLANO Marketplace</h4>
<p>
Вы будете покупать товары без наценки. Каждый раз вынимая карту из кошелька, Вы будете ловить на себе взгляды окружающих и ощущать ее значимость и превосходство. По мере нашего масштабирования в другие страны мы будем расширять зону действия карты на все страны нашего присутствия, что дает постоянный рост возможностей для вас. Уже сейчас мы ведем переговоры с огромным количеством отелей, ресторанов и других заведений по всему миру.
</p>
</div>
<div class="col-md-5 order-md-first">
<img class="rounded" src="/img/pllano-online-shopping.svg" alt="...">
</div>
</div>



</div>
</section>

<section class="section bg-gray text-center">
<div class="container">

<header class="section-header">
<small>Try It Now</small>
<h2 class="lead-8"><strong>PLLANO</strong></h2>
<hr>
<p class="lead">Доступ к Pllano Marketplace и Pllano Club дает Platinum Card с логотипом PLLANO. Вы сами выбираете карту какого банка хотите иметь. Цена карты: + 100$ в год к стоимости Platinum Card в выбранном вами банке. Некоторые банки выдают Platinum Card с уже активированным доступом к сервисам Pllano. Подробности вы можете уточнить в нашем консьерж сервисе по телефону: + 380 44 000 00 00</p>
</header>
<div class="row">
<form class="col-md-4 col-xl-4 mx-auto input-border">
<div class="form-group">
<input type="text" class="form-control form-control-lg" placeholder="Name">
</div>

<div class="form-group">
<input type="text" class="form-control form-control-lg" placeholder="Email">
</div>

<div class="form-group">
<input type="password" class="form-control form-control-lg" placeholder="Password">
</div>

<button class="btn btn-block btn-xl btn-success">Заказать обратный зонок</button>
</form>
</div>

</div>
</section>

</main>