<header id="home" class="header text-white h-fullscreen text-center text-lg-left" style="background-color: #24292e">
<canvas class="constellation" data-color="rgba(255,255,255,0.3)"></canvas>
<div class="container">
<div class="row align-items-center h-100">
<div class="col-lg-6">
<h1>{{ language.962 }}</h1>
<p class="lead mt-5 mb-8"><strong>PLLANO Marketplace</strong> дает возможность покупать товары без наценки + <strong>PLLANO Club</strong> дает скидку 20% в ресторанах и отелях, а также на другие товары и услуги от наших партнеров по всему миру.</p>
<p class="gap-xy">
<a class="btn btn-round btn-outline-light mw-150" href="#">{{ language.213 }}</a>
<a class="btn btn-round btn-success mw-150" href="#">{{ language.964 }}</a>
</p>
</div>
<div class="col-lg-5 ml-auto">
<img class="mt-5" src="/img/pllano-card.svg" alt="img">
</div>
</div>
</div>
<div class="col-lg-12 text-center">
<span class="social social-lg social-bg-brand social-cycling">
{{ language.895 }} : <a class="social-facebook" href="#" onclick="fb_login();return false;"><i class="fab fa-facebook-f"></i></a>
<a class="social-google" href="#" id="google_2"><i class="fab fa-google"></i></a>
</span>
</div>
</header>
<!-- 
<header class="header text-white h-fullscreen pb-5" style="background-image: url(/img/bg/10.jpg)">
<div class="overlay opacity-95" style="background-color: #0079bf"></div>
<div class="container">
<div class="row align-items-center h-100">
<div class="col-md-10 mx-auto text-center py-8 flex-grow">
<h1>{{ language.962 }}</h1>
<p class="lead mt-5">У обычной Platinum Card нет преимуществ перед аналогичными картами других банков. Нет значимой ценности для тех кто не летает за границу. Самой большой ценностью Platinum Card является Fast Line и бизнес-зал в зоне международных рейсов в аэропортах.</p>
<hr class="w-10 my-7">
<a class="btn btn-xl btn-round btn-success px-7" href="#">Sign up — It's free</a>
</div>
</div>
</div>
</header>
-->