<header class="header text-white text-center" style="background-image: linear-gradient(to bottom, #09203f 0%, #537895 100%);">
<canvas class="constellation" data-color="rgba(255,255,255,0.3)"></canvas>
<div class="container">
<header class="section-header">
<h2 class="display-3">{{ language.105 }}</h2>
<hr>
<p class="lead">{{ language.985 }}</p>
</header>
<div class="row gap-y text-center">
<div class="col-lg-4">
<div class="border p-5 text-default">
<h5 class="mb-4">{{ language.988 }}</h5>
<p class="small-1">{{ language.989 }}</p>
<a href="tel:380444656415">38044 465-64-15</a><br>
<a href="mailto:club@pllano.com">club@pllano.com</a>
</div>
</div>
<div class="col-lg-4">
<div class="border p-5 text-default">
<h5 class="mb-4">{{ language.977 }}</h5>
<p class="small-1">{{ language.990 }}</p>
<a href="tel:380444656415">38044 465-64-15</a><br>
<a href="mailto:club@pllano.com">club@pllano.com</a>
</div>
</div>
<div class="col-lg-4">
<div class="border p-5 text-default">
<h5 class="mb-4">{{ language.986 }}</h5>
<p class="small-1">{{ language.987 }}</p>
<a href="tel:380444656413">38044 465-64-13</a><br>
<a href="mailto:info@pllano.com">info@pllano.com</a>
</div>
</div>
</div>
</div>
</header>

<main class="main-content">

<section class="section p-0">
<div class="h-400" data-provide="map" data-lat="50.513217" data-lng="30.493679" data-marker-lat="50.513217" data-marker-lng="30.493679" data-info="&lt;strong&gt;PLLANO Ukraine&lt;/strong&gt;&lt;br&gt;{{ language.984 }}"></div>
</section>

</main>