<header class="header text-white" style="background-image: linear-gradient(to bottom, #09203f 0%, #537895 100%);">
<div class="container text-center">
<div class="row">
<div class="col-md-8 mx-auto">
<h1>{{ language.313 }} PLLANO</h1>
<p class="lead-2 opacity-90 mt-6">{{ language.869 }}: 01.03.2019</p>
</div>
</div>
</div>
</header>
<main class="main-content">
<section class="section">
<div class="container">
<div class="row">
<div class="col-md-10 mx-auto">
{% if language_id == "ua" %}
<h4>Загальна інформація</h4>
<p>
Ми збираємо адреси електронної пошти тих, хто з нами спілкується електронною поштою, сукупну інформацію про те, на яких сторінках користувачі відвідують або відвідують, а також інформація, яку володіє споживач (наприклад, інформація про опитування та / або реєстрації сайту). Інформація, яку ми збираємо, використовується для покращення вмісту наших веб-сторінок та якості нашого сервісу, а також не використовується для інших комерційних цілей та не продаються іншим організаціям, за винятком надання продуктів чи послуг, які ви запитували, коли ми маємо ваш дозвіл або за наступних обставин:</p>
<ul>
<li>
Необхідно ділитися інформацією для розслідування, запобігання або вжиття заходів щодо незаконних дій, підозр шахрайства, ситуацій, які можуть спричинити потенційну загрозу фізичній безпеці будь-якої особи, порушень Умов надання послуг або в інших випадках, передбачених законом
</li>
<li>
Ми передаємо інформацію про вас, якщо PLLANO придбана або об'єднана з іншою компанією. У цьому випадку PLLANO повідомить вас перед тим, як інформація про вас буде передана і стає предметом іншої політики конфіденційності.
</li>
</ul>
<br>
<h4>Збір та використання інформації</h4>
<ul>
<li>
Коли ви реєструєтеся в PLLANO, ми просимо вас надати таку інформацію, як ваше ім'я, адреса електронної пошти, платіжну адресу, інформацію про кредитну картку. Члени, які підписалися на безкоштовний обліковий запис, не повинні вводити кредитну картку.
</li>
<li>
PLLANO використовує зібрану інформацію для таких загальних цілей: постачання продуктів і послуг, білінг, ідентифікація та ідентифікація, покращення послуг, контакти та дослідження.
</li>
</ul>
<br>
<h4>Куки</h4>
<ul>
<li>
Файл cookie - це невелика кількість даних, яка часто містить анонімний унікальний ідентифікатор, який надсилається у ваш браузер із комп'ютерів веб-сайту та зберігається на жорсткому диску вашого комп'ютера.
</li>
<li>
Для використання служби PLLANO потрібні файли cookie.
</li>
<li>
Ми використовуємо файли cookie для запису поточної інформації про сеанс, але не використовуйте постійні файли cookie. Вам необхідно повторно ввійти в свій обліковий запис PLLANO через певний проміжок часу, щоб захистити вас від інших випадків доступу до вашого вмісту вашого облікового запису.
</li>
</ul>
<br>
<h4>Зберігання даних</h4>
<p> PLLANO використовує сторонніх постачальників та партнерів хостингу для забезпечення необхідного обладнання, програмного забезпечення, мереж, зберігання та пов'язаних технологій, необхідних для запуску PLLANO. Хоча PLLANO володіє кодом, базами даних та всіма правами на програму PLLANO, ви зберігаєте всі права на ваші дані.</p>
<br>
<h4>Розкриття інформації</h4>
<p> PLLANO може розкривати інформацію, що ідентифікує особу, за особливих обставин, наприклад, для виконання вимог про повноваження або якщо ваші дії порушують Загальні положення та умови Google.</p>
<br>
<h4>Зміни</h4>
<p> PLLANO може періодично оновлювати цю політику. Ми повідомимо вас про суттєві зміни у способі обробки особистих даних, надіславши повідомлення на основну адресу електронної пошти, зазначену у вашому головному обліковому записі власника облікового запису PLLANO, або розмістивши виразне повідомлення на нашому сайті. Таке повідомлення буде надано принаймні за 3 дні до дати застосування нової політики.</p>
<br>
<h4>Запитання</h4>
<p> Будь-які питання щодо цієї Політики конфіденційності слід спрямовувати на адресу privacy@pllano.com.</p>

{% elseif language_id == "en" %}

<h4>General Information</h4>
<p>We collect the e-mail addresses of those who communicate with us via e-mail, aggregate information on what pages consumers access or visit, and information volunteered by the consumer (such as survey information and/or site registrations). The information we collect is used to improve the content of our Web pages and the quality of our service, and is not shared with or sold to other organizations for commercial purposes, except to provide products or services you’ve requested, when we have your permission, or under the following circumstances:</p>
<ul>
<li>It is necessary to share information in order to investigate, prevent, or take action regarding illegal activities, suspected fraud, situations involving potential threats to the physical safety of any person, violations of Terms of Service, or as otherwise required by law.</li>
<li>We transfer information about you if PLLANO is acquired by or merged with another company. In this event, PLLANO will notify you before information about you is transferred and becomes subject to a different privacy policy.</li>
</ul>
<br>
<h4>Information Gathering and Usage</h4>
<ul>
<li>
When you register for PLLANO we ask for information such as your name, email address, billing address, credit card information. Members who sign up for the free account are not required to enter a credit card.
</li>
<li>
PLLANO uses collected information for the following general purposes: products and services provision, billing, identification and authentication, services improvement, contact, and research.
</li>
</ul>
<br>
<h4>Cookies</h4>
<ul>
<li>A cookie is a small amount of data, which often includes an anonymous unique identifier, that is sent to your browser from a web site’s computers and stored on your computer’s hard drive.</li>
<li>Cookies are required to use the PLLANO service.</li>
<li>We use cookies to record current session information, but do not use permanent cookies. You are required to re-login to your PLLANO account after a certain period of time has elapsed to protect you against others accidentally accessing your account contents.</li>
</ul>
<br>
<h4>Data Storage</h4>
<p>PLLANO uses third party vendors and hosting partners to provide the necessary hardware, software, networking, storage, and related technology required to run PLLANO. Although PLLANO owns the code, databases, and all rights to the PLLANO application, you retain all rights to your data.</p>
<br>
<h4>Disclosure</h4>
<p>PLLANO may disclose personally identifiable information under special circumstances, such as to comply with subpoenas or when your actions violate the Terms of Service.</p>
<br>
<h4>Changes</h4>
<p>PLLANO may periodically update this policy. We will notify you about significant changes in the way we treat personal information by sending a notice to the primary email address specified in your PLLANO primary account holder account or by placing a prominent notice on our site. Such notice will be given at least 3 days in advance of the date the new policy will be applied.</p>
<br>
<h4>Question</h4>
<p>Any questions about this Privacy Policy should be addressed to privacy@pllano.com.</p>

{% elseif language_id == "ru" %}

<h4> Общая информация</h4>
<p> Мы собираем адреса электронной почты тех, кто общается с нами по электронной почте, собираем информацию о том, какие страницы посещают или посещают потребители, а также информацию, предоставленную потребителем (например, данные опроса и / или регистрации на сайте). Собираемая нами информация используется для улучшения содержания наших веб-страниц и качества наших услуг, а также не передается и не продается другим организациям в коммерческих целях, за исключением предоставления запрашиваемых вами продуктов или услуг, когда у нас есть ваши разрешение или при следующих обстоятельствах:</p>
<UL>
<li>Необходимо обмениваться информацией для расследования, предотвращения или принятия мер в отношении незаконной деятельности, предполагаемого мошенничества, ситуаций, связанных с потенциальными угрозами физической безопасности любого лица, нарушениями Условий обслуживания или в соответствии с требованиями законодательства. .</li>
<li>Мы передаем информацию о вас, если Landing Forms или PLLANO приобретены или объединены с другой компанией. В этом случае Landing Forms или PLLANO уведомят вас, прежде чем информация о вас будет передана и станет предметом другой политики конфиденциальности.</li>
</ul>
<br>
<h4> Сбор и использование информации</h4>
<UL>
<Li>
Когда вы регистрируетесь на Landing Forms или PLLANO, мы запрашиваем такую ​​информацию, как ваше имя, адрес электронной почты, платежный адрес, данные кредитной карты. Участники, которые регистрируются в бесплатной учетной записи, не обязаны вводить кредитную карту.
</li>
<Li>
Landing Forms или PLLANO используют собранную информацию для следующих общих целей: предоставление продуктов и услуг, выставление счетов, идентификация и аутентификация, улучшение услуг, контакты и исследования.
</li>
</ul>
<br>
<H4> Печенье</h4>
<UL>
<li>Файл cookie - это небольшой объем данных, который часто содержит анонимный уникальный идентификатор, который отправляется в ваш браузер с компьютеров веб-сайта и хранится на жестком диске вашего компьютера.</li>
<li>Для использования файлов Landing Forms или PLLANO требуются файлы cookie.</li>
<li>Мы используем файлы cookie для записи информации о текущей сессии, но не используем постоянные файлы cookie. Вам необходимо повторно войти в свою учетную форму Landing Forms или PLLANO по истечении определенного периода времени, чтобы защитить вас от случайного доступа других пользователей к содержимому вашей учетной записи.</li>
</ul>
<br>
<h4> Хранение данных</h4>
<p> Landing Forms или PLLANO используют сторонних поставщиков и партнеров по хостингу для предоставления оборудования, программного обеспечения, сетей, систем хранения и связанных с ними технологий, необходимых для запуска Landing Forms или PLLANO. Хотя Landing Forms или PLLANO владеют кодом, базами данных и всеми правами на Landing Forms или приложение PLLANO, вы сохраняете все права на свои данные.</p>
<br>
<H4> Раскрытие информации</h4>
<p> Landing Forms или PLLANO могут раскрывать информацию, позволяющую установить личность, при особых обстоятельствах, например, для соблюдения повестки в суд или когда ваши действия нарушают Условия предоставления услуг.</p>
<br>
<H4> Изменения</h4>
<p> Landing Forms или PLLANO могут периодически обновлять эту политику. Мы будем уведомлять вас о значительных изменениях в способах обработки личной информации, отправляя уведомление на основной адрес электронной почты, указанный в ваших учетных записях Landing Forms или PLLANO, или размещая заметное уведомление на нашем сайте. Такое уведомление будет направлено как минимум за 3 дня до даты применения новой политики.</p>
<br>
<H4> Вопрос</h4>
<p> Любые вопросы о настоящей Политике конфиденциальности следует направлять по адресу privacy@pllano.com.</p>
{% else %}

<h4>General Information</h4>
<p>We collect the e-mail addresses of those who communicate with us via e-mail, aggregate information on what pages consumers access or visit, and information volunteered by the consumer (such as survey information and/or site registrations). The information we collect is used to improve the content of our Web pages and the quality of our service, and is not shared with or sold to other organizations for commercial purposes, except to provide products or services you’ve requested, when we have your permission, or under the following circumstances:</p>
<ul>
<li>It is necessary to share information in order to investigate, prevent, or take action regarding illegal activities, suspected fraud, situations involving potential threats to the physical safety of any person, violations of Terms of Service, or as otherwise required by law.</li>
<li>We transfer information about you if PLLANO is acquired by or merged with another company. In this event, PLLANO will notify you before information about you is transferred and becomes subject to a different privacy policy.</li>
</ul>
<br>
<h4>Information Gathering and Usage</h4>
<ul>
<li>
When you register for PLLANO we ask for information such as your name, email address, billing address, credit card information. Members who sign up for the free account are not required to enter a credit card.
</li>
<li>
PLLANO uses collected information for the following general purposes: products and services provision, billing, identification and authentication, services improvement, contact, and research.
</li>
</ul>
<br>
<h4>Cookies</h4>
<ul>
<li>A cookie is a small amount of data, which often includes an anonymous unique identifier, that is sent to your browser from a web site’s computers and stored on your computer’s hard drive.</li>
<li>Cookies are required to use the PLLANO service.</li>
<li>We use cookies to record current session information, but do not use permanent cookies. You are required to re-login to your PLLANO account after a certain period of time has elapsed to protect you against others accidentally accessing your account contents.</li>
</ul>
<br>
<h4>Data Storage</h4>
<p>PLLANO uses third party vendors and hosting partners to provide the necessary hardware, software, networking, storage, and related technology required to run PLLANO. Although PLLANO owns the code, databases, and all rights to the PLLANO application, you retain all rights to your data.</p>
<br>
<h4>Disclosure</h4>
<p>PLLANO may disclose personally identifiable information under special circumstances, such as to comply with subpoenas or when your actions violate the Terms of Service.</p>
<br>
<h4>Changes</h4>
<p>PLLANO may periodically update this policy. We will notify you about significant changes in the way we treat personal information by sending a notice to the primary email address specified in your PLLANO primary account holder account or by placing a prominent notice on our site. Such notice will be given at least 3 days in advance of the date the new policy will be applied.</p>
<br>
<h4>Question</h4>
<p>Any questions about this Privacy Policy should be addressed to privacy@pllano.com.</p>

{% endif %}


</div>
</div>

{% if landing %}
<div class="row align-items-center">
<div class="col-md-12 text-center">
<br><a class="btn btn-lg btn-success text-white" href="{{ config.http_protocol }}://{{ config.uri }}/{{ landing }}"><i class="fa fa-shopping-cart" aria-hidden="true"></i> {{ language.853 }}</a>
</div>
</div>
{% endif %}

</div>
</section>

</main><!-- /.main-content -->
